.main-section--top-text > h2 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 42px;
    font-stretch: 200%;
    font-variation-settings: 'GRAD' 10, 'slnt' -10, 'XTRA' 496, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 14;
}