.main-section--video {
    width: clamp(200px, 100%, 600px);
    height: clamp(260px, 52vh, 465.906px);
    margin-block: 12.5px;
    position: relative;
}

.main-section--video > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(88%) saturate(112%) brightness(95%);
}