#cursor {
    width: 50px;
    height: 50px;
    background-color: var(--theme-color1-neutral);
    border-radius: 500px;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: top 50ms ease-out, left 50ms ease-out, height 200ms, width 200ms, 100ms visibility, width .1s ease-in, height .1s ease-in;
    z-index: 10;
    mix-blend-mode: difference;
    display: none;
}

.portfolio-item-hover::after {
    content: "Confira este projeto";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-variation-settings: 'GRAD' 150, 'slnt' -10, 'XTRA' 603, 'XOPQ' 119, 'YOPQ' 25, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    font-size: 1rem;
}