.menu-footer--links p , .menu-footer--links .material-symbols-outlined {
    color: var(--theme-color1-neutral);
    font-weight: 300;
    font-size: 1.4rem;
    transition: color 165ms cubic-bezier(0,.4,.2,1);
}

.menu-footer--links a::after {
    background-color: var(--theme-color1-neutral);
    height: 2px;
    transition: background-color 165ms cubic-bezier(0,.4,.2,1);
}

.menu-footer--links .material-symbols-outlined {
    transform: translateY(1.5px);
}