.menu--back {
    display: flex;
    justify-content: flex-end;
}

.menu--back .material-symbols-outlined {
    color: var(--theme-color1-neutral);
    font-size: 3rem;
    margin-top: 6px;
    padding: 1px 6px;
}