@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: "Roboto Flex local";
	src: url("../fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
	
}

:root {
	--theme-color0: #F5F8FD;
	--theme-color1: #110E12;
	--theme-color0-neutral: #000000;
	--theme-color1-neutral: white;
	
	--font-default-highlight: "Roboto Flex local", sans-serif;
	--font-titles-highlight: 'Roboto Condensed', sans-serif;
	--font-normal: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

header, main, section, footer {
	position: relative;
}

html, body {
	background-color: var(--theme-color0);
}

html {
	font-size: 11px;
	font-family: var(--font-default-highlight);
}

body {
	line-height: 1;
	padding-inline: 4vw;
}

section {
	margin-block: 3vh;
}

main, footer {
	width: min(100%, 1920px);
	margin-inline: auto;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
	color: var(--theme-color1);
}